// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
.banner-image {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.custom-button {
  width: 180px;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
}

